@import '../../index.scss';

.services {
    max-width: 100vw;
    //min-height: 50vh;
    background: linear-gradient(180deg, $dark-purple 0%, $dark-purple 100%);
    margin-top: -1px;
    color: white;
    font-family: $primary-font;
    padding : 70px 0;
    padding-bottom: 10px;
  //  border: 3px solid white;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        h1 {
            font-size: 8vw;
            font-weight: 400;
        }

        img {
            display: block;
            width: auto;
            height: auto;
            object-fit: cover;
            margin-top: 5px;
            margin-bottom: 10px;
            // border : 1px solid white
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid red;


    }

    .card {
        // border: 2px solid red;
        width: 70%;
        height: 200px;
        margin: auto;
        margin-bottom: 50px;
        position: relative;
        display: flex;

        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        button {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            z-index: 3;
        }

        .logo {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50%;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 0 0 20px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;

            img {
                width: 30%;
                height: 50px;


            }
        }

        p {
            //border: 2px solid red;
            width: 90%;
            height: max-content;
            margin: auto;
            text-align: center;
            letter-spacing: 1px;
        }
    }

    .back {
        background-color: $purple-color;
        border-radius: 20px;
    }

    // .cards {
    //     position: relative;
    //     display: flex;
    //     justify-content: center;
    //     margin: 3%;
    //     margin-top: 0;
    //     border: 1px solid red;

    //     div {
    //         background-color: transparent;
    //         margin: 0 1%;
    //         width: 28%;
    //         height: 43vh;
    //         perspective: 1000px;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         cursor: pointer;

    //         .card {
    //             position: relative;
    //             width: 100%;
    //             height: 100%;
    //             text-align: center;
    //             transition: transform 1.5s;
    //             transform-style: preserve-3d;
    //             border: none;
    //             //background-color: $white-color;
    //             // border: 2px solid blue;
    //         }


    //         div:hover {
    //             transform: rotateY(180deg);
    //         }


    //         .front,
    //         .back {
    //             //position: absolute;
    //             width: 100%;
    //             height: 100%;
    //             -webkit-backface-visibility: hidden;
    //             /* Safari */
    //             backface-visibility: hidden;
    //         }

    //         .front {
    //             //border: 2px solid red;
    //             // background-color: $red-color;
    //             border: none;

    //             img {
    //                 display: inline-block;
    //                 width: 100%;
    //                 height: 100%;
    //                 position: relative;
    //                 // object-fit: cover;
    //                 // border: 5px solid green;
    //                 // margin-bottom: 5%;
    //             }
    //         }

    //         .back {
    //             position: absolute;
    //             background-color: $purple-color;
    //             color: white;
    //             transform: rotateY(180deg);
    //             // box-shadow: 6px 6px 9px 1px rgba(8, 8, 8, 0.75);
    //             // -webkit-box-shadow: 6px 6px 9px 1px rgba(8, 8, 8, 0.75);
    //             // -moz-box-shadow: 6px 6px 9px 1px rgba(8, 8, 8, 0.75);

    //             p {
    //                 width: 85%;
    //                 font-size: 1.3rem;
    //             }
    //         }
    //     }

    //     .card-1 {
    //         position: relative;
    //         bottom: 8vh;
    //     }

    //     .card-2 {
    //         position: relative;
    //         top: 0vh;
    //     }

    //     .card-3 {
    //         position: relative;
    //         top: 5vh;
    //     }
    // }
}