@import '../../index.scss';

.services {
    max-width: 100vw;
    //min-height: 50vh;
    background: linear-gradient(180deg, $dark-purple 0%, $dark-purple 100%);
    margin-top: -1px;
    color: white;
    font-family: $primary-font;
    padding: 70px 0;
    padding-bottom: 30px;
    //  border: 3px solid white;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        h1 {
            font-size: 8vw;
            font-weight: 400;
            margin: 0;
        }

        img {
            display: block;
            width: auto;
            height: auto;
            object-fit: cover;
            margin-bottom: 10px;
            // border : 1px solid white
        }
    }


    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;

       

        // .card {
        //     width: 90%;
        //     height: 300px;
        //     margin: 0 20px;
        //     // margin: 20px;
        // }

        // .back {
        //     // width: 300px;
        //     // height: 300px;
        //     // margin: 20px;


            
        // }

        .card {
            // border: 2px solid red;
            width: 250px;
            height: 200px;
            margin: auto;
            margin-bottom: 50px;
            position: relative;
            display: flex;
            border-radius: 25px;
            background-color: transparent;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;
            }

            button {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                z-index: 3;
            }

            .logo {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50%;
                background-color: rgba(255, 255, 255, 0.6);
                border-radius: 0 0 20px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;

                img {
                    width: 30%;
                    height: 50px;
                    object-fit: contain;
                }
            }
        }

        .back {
            background-color: $purple-color;
            border-radius: 25px;


            p {
                //border: 2px solid red;
                width: 90%;
                height: max-content;
                margin: auto;
                text-align: center;
                letter-spacing: 1px;
            }
        }
    }

}

@media (min-width : 600px) {

    .services {


        .cards {
            //border: 2px solid white;
            // flex-direction: row;
            // justify-content: center;

            .card {
                width: 350px;
                height: 300px;
                // margin: 0 20px;
                // margin: 20px;
            }

            .back {
                p {
                    font-size: 20px;
                }
            }

        }


    }
}


@media (min-width : 992px) {

    .services {

        .heading {
            h1 {
                font-size: 50px;
            }

        }

        .cards {
           // border: 2px solid white;
            flex-direction: row;
            justify-content: center;


           
                .card {
                    width: 300px;
                    height: 300px;
                    margin: 0 20px;
                    // margin: 20px;
                }

                .back {
                    // width: 300px;
                    // height: 300px;
                    // margin: 20px;


                    p {
                        font-size: 20px;
                    }
                }
           

        }


    }
}

@media (min-width : 1250px){
    .services{

        .cards{

            .card{
                width : 350px;
            }
        }
    }
}