@import '../../index.scss';

.hero {

    max-width: 100vw;
    height: 50vh;
    background: linear-gradient(180deg, #8E0084 0%, $dark-purple 100%);
    // filter: blur(10px);
    // border: 2px solid red;

    .swiper {
        width: 100%;
        // margin-right: auto;
        height: 78%;
        //padding-bottom: 40px;
        // position: relative;
        // bottom: 4vh;
        // padding-top: 50px;
        // padding-bottom: 50px;
        // border: 3px solid green;
        //  display: flex;
        //  justify-content: center;
        //  align-items: center;
    }

    .swiper-slide {
        //background-position: center;
        // background-size: cover;
        // width: 50px;
        height: 50%;
        //  width : 200px;
        margin: auto;

        // display: flex;
        // flex-direction: column;
        // align-items: center;
        opacity: 50%;
        // border: 1px solid red;
    }

    .swiper-slide-active {
        // border: 3px solid orange;
        height: 100%;
        //width: 200%;
        opacity: 100%;

        background-color: transparent;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: contain;
    }

    .swiper-pagination-bullet {
        background-color: white !important;
    }

    .swiper-pagination-bullet-active {
        background-color: white !important;
    }

}