@import '../../index.scss';

.portfolio {
    max-width: 100vw;
    //min-height: 63vh;
    background: linear-gradient(180deg, $dark-purple 0%, $dark-purple 100%);
    margin-top: -1px;
    color: white;
    font-family: $primary-font;
    padding-top: 40px;
    padding-bottom: 60px;
    position: relative;
     border: 2px solid red;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;


        h1 {
            font-size: 8vw;
            font-weight: 400;
            margin: 0;
        }

        img {
            display: block;
            width: auto;
            height: auto;
            object-fit: cover;
           // margin-top: 5px;
            margin-bottom: 20px;
            // border : 1px solid white
        }
    }

    .swiper {
        width: 100%;
        // margin-right: auto;
        height: 78%;
        //padding-bottom: 40px;
        // position: relative;
        // bottom: 4vh;
        // padding-top: 50px;
        // padding-bottom: 50px;
        //  display: flex;
        //  justify-content: center;
        //  align-items: center;
        border: 3px solid green;
    }

    .swiper-slide {
        //background-position: center;
        // background-size: cover;
        // width: 50px;
        height: 50%;
        //  width : 200px;
        margin: auto;

        // display: flex;
        // flex-direction: column;
        // align-items: center;
        opacity: 25%;
        // border: 2px solid red;
    }

    .swiper-slide-active {
        border: 3px solid orange;
        height: 100%;
        //width: 200%;
        opacity: 100%;

        background-color: transparent;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        //border-radius: 15px;
        object-fit: contain;
    }

    .swiper-pagination-bullet {
        background-color: white !important;
        width: 2vw !important;
        height: 2vw !important;
    }

    .swiper-pagination-bullet-active {
        background-color: white !important;
    }


    p {
        // border: 2px solid white;
        width: 90%;
        margin: auto;
        text-align: center;
        letter-spacing: 1px;
    }
}

@media (min-width : 768px) {

    .portfolio {

        .swiper-slide-active {
            height: 90%;
            margin-top: 0;
        }

        .swiper-pagination-bullet {
            width: 15px !important;
            height: 15px !important;
        }
    }
}

@media (min-width : 992px) {

    .portfolio {
       // height: 100vh;

        .heading {
            h1 {
                font-size: 50px;
                margin: 0;
            }

            img {
                margin-top: 0px;
                margin-bottom: 20px;
            }
        }

        .swiper {
             width: 100%;
            height: 55%;
        }

        .swiper-slide {
            height: 65%;
            // margin-top: 15%;
        }

        .swiper-slide-active {
            height: 90%;
            width: 100%;
            margin-top: 0%;
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: white;
        }

        p{
            font-size: 20px;
            width : 40%;
        }

    }
}

@media (min-width : 1250px) {

    .portfolio {

        .swiper-slide {
            height: 70%;
            // margin-top: 15%;
        }

        .swiper-slide-active {
            height: 90%;
            width: 100%;
            margin-top: 0%;
        }

        .swiper-slide img {
            object-fit: cover;
            width: 80%;
            margin: auto;
        }

        .swiper-slide-active img {
            object-fit: contain;
            width: 100%;
            margin: auto;
        }
    }
}