@import '../../index.scss';

.about {
    max-width: 100vw;
    min-height: 50vh;
    background: linear-gradient(180deg, $dark-purple 0%, $dark-purple 100%);
    margin-top: -1px;
    color: white;
    font-family: $primary-font;
    padding-top: 70px;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        h1 {
            font-size: 8vw;
            font-weight: 400;
        }

        img {
            display: block;
            width: auto;
            height:auto;
            object-fit: cover;
            margin-top: 5px;
            margin-bottom: 10px;
            //border : 1px solid white
        }
    }

    p {
        font-size: 4vw;
        font-weight: 100;
        margin: auto;
        width: 80%;
        text-align: center;
        //border : 1px solid white
    }

    .image {
        display: block;
        margin: 25px auto;
        width: 60%;
        height: 50%;
        border-radius: 20px;
    }
}