@import '../../index.scss';

.about {
    max-width: 100vw;
    //min-height: 50vh;
    background: linear-gradient(180deg, $dark-purple 0%, $dark-purple 100%);
    margin-top: -1px;
    color: white;
    font-family: $primary-font;
    padding-top: 40px;
    //border: 3px solid pink;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        h1 {
            font-size: 8vw;
            font-weight: 400;
            margin: 0;
        }

        img {
            display: block;
            width: auto;
            height: auto;
            object-fit: cover;
            margin-bottom: 10px;
            //border : 1px solid white
        }
    }

    p {
        font-size: 4vw;
        font-weight: 100;
        margin: auto;
        width: 80%;
        text-align: center;
        //border : 1px solid white
    }

    .sections {
        //border: 2px solid red;

        .section-1,
        .section-2 {
            margin: 10% 5%;
           // border: 1px solid white;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
               // flex: 0.5;
                text-align: center;
               // border: 1px solid white;
            }

            .image {
               // flex: 0.5;
                display: block;
                //margin: auto 10px;
                width: 60%;
                height: 50%;
                border-radius: 20px;
                margin-bottom: 5%;
            }
        }

        .section-2 {
            flex-direction: column;
        }
    }

}

@media (min-width : 992px) {

    .about {

        .heading {

            h1 {
                font-size: 50px;
            }

        }

        p {
            width: 40%;
            font-size: 25px;
        }

        .sections {

            .section-1,
            .section-2 {
                width: 90%;
                margin: 5% auto;
                flex-direction: row;
                //align-items: center;

                .image {
                    width: 350px;
                    margin: auto;
                }

                p {
                    text-align: center;
                   // margin-top: 3%;
                }
            }

            .section-2 {
                flex-direction: row-reverse;
            }
        }
    }
}