@import '../../index.scss';

.header {
    max-width: 100vw;
    height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0vh;
    left: 0;
    z-index: 9999;
    border-radius: 0 0 20px 20px;
    background-color: white;
    // display: flex;
    // justify-content: space-between;
    //padding: 5px;
    border: 2px solid red;

    .row {
        height: 100%;
        max-width: 100vw;
        // border: 2px solid red;
        border-radius: 0 0 20px 20px;

        .menubar {
            // flex: 0.3;
            max-height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            // border: 2px solid red;

            .icon {
                width: 50%;
                height: 50%;
                color: $golden-color;
            }
        }

        .content {
            // flex: 0.7;
            max-height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            // border: 1px solid red;

            a {
                height: 100%;
                img {
                    // flex: 0.2;
                    display: block;
                    // width: auto;
                    height: 120%;
                    //border: 1px solid red;
                }
            }


        }

        .name {
            //flex: 0.8;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $blue-color;
            text-align: center;
            //border: 1px solid red;

            p {
                font-size: 4vw;
                font-family: 'Copperplate';
                font-weight: 400;
                width: 100%;
                margin: 0;
                //border: 1px solid green;
            }

            .tagline {
                text-align: center;
                font-family: Barlow Condensed;
                font-size: 2vw;
                text-align: center;
                width: 100%;
                margin: 0;
                //border: 1px solid red;

                .icon {
                    color: $blue-color;
                    font-size: larger;
                }
            }
        }

    }


}

// .header {
//     filter: blur(0px);
//     transition: all 0.5s ease-in;
// }

// .blur {
//     filter: blur(5px);
//     transition: all 0.5s ease-in;
// }

@media (min-width : 576px) {
    .header {
        height: 90px;
        border-radius: 0 0 25px 25px;
    }
}

@media (min-width : 992px) {
    .header {

        .row {

            display: flex;
            justify-content: center;

            .content {
                justify-content: flex-end;
            }

            .name {
                text-align: left;

                p {
                    font-size: 28px;
                    letter-spacing: 1px;
                }

                .tagline {
                    font-size: 12px;
                    text-align: left;
                    margin-top: -5px;
                }
            }
        }
    }
}