@import '../../index.scss';

.sidebar-open , .sidebar-close{

    position: fixed;
    left: 0;
    top: 0;
    max-width: 90vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    filter: blur(0px) !important;

    .items {
        //border: 1px solid red;

        .cross-icon {
            color: $purple-color;
            font-size: 5vw;
            margin-left: 90%;
            margin-top: 2%;
        }

        div {
            margin: 20px 0;
            font-size: 6vw;
            font-family: $primary-font;

            .icon {
                font-size: 6vw;
                color: $golden-color  !important;
                margin-right: 20px;
            }
        }
    }

    .company {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            display: block;
            width: 60%;
            height: 70%;
        }

    }
}

.sidebar-open{
    transform: translatex(0px);
    transition: all 0.8s ease-in-out;
}

.sidebar-close {
    transform: translatex(-100vw);
    transition: all 0.8s ease-in-out;
}