@import "~bootstrap/scss/bootstrap";

$golden-color : #B29F69;
$blue-color : #072557;
$purple-color : #8E0084;
$dark-purple : #32022e;
$primary-font : 'barlow-condensed';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100vw;
    height: 100vh;
    scrollbar-width: 0px;
    background-color: $purple-color;

    &::-webkit-scrollbar {
        display: none;
    }

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
